*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* classi utility */

.d-flex{display: flex;}

.flex-wrap{flex-wrap: wrap;}

.flex-col{flex-direction: column;}

/* container */

.wrapper{
  height: 100vh;
  max-width: 100vw;
  justify-content: space-between;
  overflow-x: hidden;
}

/* main */

#site_content{
  height: calc(100% - 100px);
}

/* main menu */

.main_menu{
  width: 20%;
  background-color: black;
  padding: 10px;
  font-size: 13px;
}

.main_menu a{
  color: rgb(161, 157, 157);
  font-weight: bold;
  text-decoration: none;
}

.main_menu a:hover{
  color: whitesmoke;
}

.logo img{
  height: 45px;
}

.only_symbol{
  color: white;
  font-size: 40px;
  display: none;
}

/* search menu */

.search_menu{
  margin-top: 20px;
  width: 100%;
}

.search_menu a{
  margin-bottom: 10px;
}

a.d-flex{
  align-items: center;
}

.search_menu img{
  height: 25px;
  padding-right: 10px;
}

/* box_menu */

.box_menu{
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
}

/* PLAYLIST */

.playlist{
  margin-top: 10px;
  color: white;
  list-style: none;
  overflow: hidden;
}

.playlist ul{
  margin-top: 10px;
  height: 60%;
  list-style: none;
  overflow-y: auto;
}

.playlist ul li{
  margin-bottom: 10px;
}

.fa-plus-square{
  margin-right: 5px;
  font-size: 30px;
}

/* bottom menu */

.bottom_menu hr{
  margin: 5px 0;
}

.fa-user-circle, .fa-arrow-alt-circle-down{
  font-size: 25px;
}

/* covers section */

.covers_section{
  padding-top: 80px;
  width: calc(100% - 20%);
  background-color: #141922;
  overflow-y: auto;
  overflow-x: hidden;
}

.covers_section p{
  color: grey;
}

/* subscribe */

.subscribe{
  height: 80px;
  width: calc(100% - 20%);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}

.subscribe .btn{
  margin-right: 30px;
  height: 40px;
  width: 200px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: inherit;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.subscribe .btn:hover{
  transform: scale(1.1);
  border-radius: 30px;
  color: white;
}

/* choose genre */

.choose_genre ul{
  list-style: none;
  justify-content: center;
  height: 40px;
}

.choose_genre a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.choose_genre ul li{
  padding: 10px;
}

.choose_genre ul li:hover .underline{
  border-bottom: 2px solid orange;
  padding-bottom: 5px;
  width: 40px;
  margin: 0 auto;
}

/* recently played */

#recently_played, #created_for, #popular_artist{
  padding: 20px 0 0 15px;
  color: white;
  z-index: 1;
}

.box_songs{
  margin-top: 10px;
  text-align: center;
}

.item{
  padding-right: 10px;
  flex-basis: calc(100% / 6);
}

.covers_section img{
  height: 100%;
  width: 100%;
}

.img_cover{
  position: relative;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  white;
  font-size: 70px;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

.box_songs a:hover .overlay{
  opacity: 1;
}

.box_songs a{
  text-decoration: none;
  color: white;
}

/* popular artist */

#popular_artist img, #popular_artist .overlay{
  border-radius: 50%;
}

/* footer */

#site_footer{
  width: 100vw;
  height: 100px;
  padding: 5px 15px;
  background-color: #282828;
  color: white;
  justify-content: space-between;
  align-items: center;
}

/* footer left */

#site_footer a{
  color: white;
  text-decoration: none;
}

.footer_left{
  height: 100%;
  align-items: center;
  flex-basis: 25%;
}

.footer_left img{
  height: 60px ;
}

.footer_artist, .footer_left i{
  margin-left: 15px;
}

/* footer player */

.footer_player{
  flex-basis: 50%;
}

/* top */
.player_top{
  height: 50px;
  align-items: center;
  justify-content: center;
}

.player_top i{
  padding: 0 1rem;
}

#site_footer .fa-play-circle{
  font-size: 4rem;
}

#site_footer .fa-play-circle:hover{
  font-size: 50px;
}

/* bottom */
.player_bottom{
  height: 30px;
  align-items: center;
  justify-content: center;
}

.player_bottom span{
  padding: 0 2rem
}

.player_bottom input{
  width: 60%;
}

/* footee right */

.footer_right{
  align-items: center;
  flex-basis: 25%;
  justify-content: flex-end;
}

.footer_right i{
  padding: 0 1rem;
}


#site_footer_mobile{
  display: none;
}


/* smartphones */

@media all and (max-width: 499px){
  
  #site_footer, .main_menu{
    display: none;
  }

  .main_menu img{
    padding: 0;
  }

  .covers_section, .subscribe{
    width: 100%;
  }

  .item{
    flex-basis: calc(100% / 2);
  }
  
  .box_songs{
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .covers_section img{
    width: auto;
    height: 150px;
  } 
  
  #site_footer_mobile{
    width: 100vw;
    height: 100px;
    padding: 15px;
    background-color: #282828;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: block;
  }

  .footer_mobile_top{
    justify-content: space-around;
    height: 40%;
    align-items: center;
    padding-bottom: 1.5rem;
  }

  .footer_mobile_top a{
    color: white;
  }

  .footer_mobile_bottom{
    justify-content: space-around;
    height: 60%;
  }

  .footer_mobile_bottom img{
    height: 2.5rem;
  }

  .footer_mobile_bottom a{
    color: white;
    flex-direction: column;
    font-size: 1.5rem;
  }
}

/* device xs */
@media all and (min-width: 500px) and (max-width: 767px){

  .main_menu, .search_menu, .bottom_menu{
    align-items: center;
  }

  .main_menu{
    width: 70px;
  }

  .main_menu img{
    padding: 0;
  }

  .logo > a:first-child{
    display: none;
  }
  
  .only_symbol{
    display: block;
  }

  .main_menu span, .playlist{
    display: none;
  }

  .main_menu hr{
    opacity: 0;
  }

  .box_menu{
    justify-content: flex-end;
  }

  .covers_section, .subscribe{
    width: calc(100% - 70px);
  }

  .item{
  flex-basis: calc(100% / 2);
  }

  .footer_right{
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* device sm */
@media screen and (min-width: 768px) and (max-width: 991px){

  .item{
  flex-basis: calc(100% / 3);
  }
}

/* device md */
@media screen and (min-width: 992px) and (max-width: 1199px){

  .item{
  flex-basis: calc(100% / 4);
  }
}