*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* classi utility */

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

/* container */

.wrapper{
  height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  justify-content: space-between;
}

/* main */

#site_content{
  height: calc(100% - 100px);
}

/* main menu */

.main_menu{
  width: 20%;
  background-color: black;
  padding: 10px 0 0 10px;
  flex-direction: column;
}

.logo img{
  height: 45px;
}

/* search menu */

.search_menu{
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.search_menu a{
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
}

.search_menu img{
  height: 25px;
  padding-right: 10px;
}

/* box_menu */

.box_menu{
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

/* PLAYLIST */

.playlist{
  margin-top: 10px;
  flex-direction: column;
  color: white;
  list-style: none;
}

.playlist ul{
  margin-top: 10px;
  height: 200px;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}

.playlist ul li{
  margin-bottom: 10px;
}

.playlist a{
  color: grey;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.fa-plus-square{
  margin-right: 5px;
  font-size: 30px;
}

/* bottom menu */

.bottom_menu{
  flex-direction: column;
}

.bottom_menu a{
  color: grey;
  font-weight: bold;
  text-decoration: none;
}

.bottom_menu hr{
  margin: 10px 0;
}

.fa-user-circle, .fa-arrow-alt-circle-down{
  font-size: 25px;
}

/* covers section */

.covers_section{
  padding-top: 80px;
  width: calc(100% - 20%);
  background-color: #141922;
  overflow-y: auto;
  overflow-x: hidden;
}

/* subscribe */

.subscribe{
  height: 80px;
  width: calc(100% - 20%);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
}

.subscribe .btn{
  margin-right: 10px;
  padding: 10px 35px;
  border-radius: 20px;
  background-color: inherit;
  color: white;
  cursor: pointer;
}

/* choose genre */

.choose_genre{
  width: 100%;
}

.choose_genre ul{
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.choose_genre a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.choose_genre ul li{
  padding: 10px;
}

.choose_genre ul li:hover{
  border-bottom: 2px solid orange;
  padding-bottom: 5px;
}

/* recently played */

#recently_played, #created_for, #popular_artist{
  width: 100%;
  padding: 20px 0 0 15px;
  color: white;
}

.box_songs{
  margin-top: 10px;
  text-align: center;
}

.item{
  padding-right: 10px;
  flex-basis: calc(100% / 6);
}

.covers_section img{
  height: auto;
  width: 100%;
}

.img_cover{
  position: relative;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  white;
  font-size: 70px;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

.box_songs a:hover .overlay{
  opacity: 1;
}

.box_songs a{
  text-decoration: none;
  color: white;
}

/* popular artist */

#popular_artist img, #popular_artist .overlay{
  border-radius: 50%;
}




/* footer */

#site_footer{
  height: 100px;
  background-color: #282828;
  color: white;
  justify-content: space-between;
  padding: 15px;
}

/* footer left */

#site_footer a{
  color: white;
  text-decoration: none;
}

.footer_left{
  height: 100%;
  align-items: center;
}

.footer_left img{
  height: 60px ;
}

.footer_artist{
  margin-left: 15px;
}

.footer_left i{
  margin-left: 15px;
}

@media screen and (max-width: 560px){

  .main_menu span, .main_menu hr{
    display: none;
  }

  .playlist{
    opacity: 0;
  }

  .item{
  flex-basis: calc(100% / 2);
  }
}